body {
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);

  background-size: cover;
}
tr:nth-child(odd) {
  background: #f5f5f5;
}
tr:nth-child(even) {
  background: #ffffff;
}
table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid transparent;
}
th {
  height: 60px;
  color: white;
  background-color: #36304a;
}
img {
  padding: 10px;
}
